.comment {
    border: 1px solid rgb(208, 206, 206);
    padding: 1.1rem 4rem;
    height: auto;
    margin: 0 auto;
}

.comments-container {
    gap: 1rem;
    width: fit-content;
}

.text-comment {
    font-size: 1.3rem;
    width: 100%;
    height: auto;
}

.user-comment {
    font-size: .9rem;
    width: 100%;
    height: auto;
}

.comments-buttons {
    margin: 1rem auto;
}

.center {
    display: flex;
    justify-content: center;
}

.padding {
    padding-bottom: 1rem;
}