.create-form-container {
    margin-top: 3rem;
}

.create-post-heading {
    margin: 2rem 0;
}

.title, .description, .text, .tag {
    font-size: 1.2rem;
}

input {
    width: 20rem;
    height: 2rem;
    border: 1px solid black;
    background-color: #e0e0e0;
    font-size: 1rem;
}

textarea {
    width: 20rem;
    height: 2rem;
    border: 1px solid black;
    background-color: #e0e0e0;
    font-size: 1rem;
}

::placeholder {
    color: #474e59;
    padding: .5rem .5rem;
    font-size: .8rem;
}

select {
    width: 10rem;
    font-size: .8rem;
    border: 1px solid black;
    background-color: #e0e0e0;
}

.create-post-submit {
    width: fit-content;
    height: auto;
    font-size: 1rem;
    padding: .5rem .7rem;
    margin: 1rem 0;
    border: 1px solid black;
}

.create-post-submit:hover {
    background-color: #e5fc81;
}