#editor{
    max-width: 95vw !important;
    height: 10rem;
    width: 50rem; 
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid black;
    padding: 0 0 !important;
}

.ql-toolbar {
    max-width: 95vw !important;
    height: auto;
    width: 50rem; 
    margin: 0 auto;
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
}

.ql-editor p {
    width: 100%;
    text-align: left;
}

.comment-heading {
    text-align: center;
    margin: 1rem 0;
    padding: 0 0;
    font-weight: 600;
}

.buttons-comment-container {
    margin-top: .5rem;
    margin-bottom: 3rem;
}