.header {
    background-color: #e5fc81;
    position: sticky;
    padding: 1.5rem 2rem;
    height: auto;
    color: #171c26;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header-link {
    padding-right: .5rem;
}

.header-link:hover {
    text-decoration: underline;
}

.website-name {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding-right: 1rem;
}

.header-button {
    border: 1px solid black;
    padding: .5rem 1rem;
    width: fit-content;
}

.header-button:hover {
    background-color: black;
    color: #e5fc81;
}
